.player__info-button-wrapper {
  margin-left: 20px;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .player__info-button-wrapper {
    margin: 0;
    grid-area: selector;
    width: 100%;
  }
}
