.main__logo {
  margin: 0;
  width: 100%;
  max-width: 720px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__logo-image {
  width: 100%;
  max-width: 720px;
  max-height: 226px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
  .main__logo {
    max-width: 600px;
  }

  .main__logo-image {
    max-width: 600px;
    max-height: 185px;
  }
}

@media screen and (max-width: 768px) {
  .main__logo {
    max-width: 620px;
  }
}

@media screen and (max-width: 645px) {
  .main__logo-image {
    max-width: 550px;
    max-height: 100px;
  }
}

@media screen and (max-width: 480px) {
  .main__logo {
    max-width: 270px;
    height: 636px;
  }
}

@media screen and (max-width: 320px) {
  .main__logo {
    height: 645px;
  }

  .main__logo-image {
    max-width: 270px;
    max-height: 82px;
  }
}
