.show-hide-button {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 0;
  outline: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: show-hide-button;
}

.show-hide-button_show {
  background-image: url('../../../images/player/open-button.svg');
}

.show-hide-button_hide {
  background-image: url('../../../images/player/close-button.svg');
}

.show-hide-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .show-hide-button {
    width: 16px;
    height: 16px;
  }
}