.track-time {
  margin: 0 0 0 10px;
  color: #ffffff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  grid-area: play-time;
}

@media screen and (max-width: 1024px) {
  .track-time {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 640px) {
  .track-time {
    font-size: 14px;
    line-height: 19px;
  }
}