.header {
  width: calc(100vw - 60px);
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0;
}

.header__close-button {
  background: url(../../images/close-icon-header.svg);
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  width: 29px;
  height: 29px;
  float: right;
  margin-bottom: 16px;
}

.header__links-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.headerLogo {
  width: 50px;
  height: 50px;
  transition: 0.5s;
}

.headerLogo:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 1024px;
  }

  .headerLogo {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
  }

  .headerLogo {
    width: 24px;
    height: 24px;
  }
}
