.header__list-item {
  padding: 8px 0;
  text-align: right;
}

.header__list-item_hidden {
  display: none;
}

.header__button {
  text-decoration: none;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  background: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 8px;
  transition: 0.5s;
}

.header__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s;
}

@media screen and (max-width: 1024px) {
  .header__button {
    font-size: 15px;
    line-height: 18px;
  }

  .header__list-item {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .header__button {
    font-size: 12px;
    line-height: 15px;
  }
}
