.player {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  max-width: 1280px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  /* left: 0; */
}

.player__mobile-blur {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
}

.player__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 61px auto 70px min-content min-content 69px;
  grid-template-rows: 44px auto;
  grid-template-areas:
    'album-cover player-controls player-controls player-controls movie-button info-button show-hide-button'
    'album-cover . player-info player-info player-info player-info .'
  ;
  justify-items: center;
  align-items: center;
}

.player__wrapper_visible {
  transform: translateY(0);
  transition: transform 1s ease;
}

.player__wrapper_hidden {
  transform: translateY(144px);
  transition: transform 1s ease;
}

.player__cover {
  margin-left: 25px;
  padding: 0;
  width: 176px;
  height: 176px;
  border-radius: 4px;
  object-fit: cover;
  grid-area: album-cover;
  align-self: flex-start;
}

.player__cover_hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  .player__wrapper_hidden {
    transform: translateY(134px);
  }

  .player__cover {
    width: 164px;
    height: 164px;
  }
}

@media screen and (max-width: 768px) {
  .player__wrapper {
    grid-template-columns: 61px 142px auto min-content min-content 69px;
    grid-template-rows: 42px auto;
    grid-template-areas:
    'player-controls player-controls player-controls movie-button info-button show-hide-button'
    '. album-cover player-info player-info player-info .'
  ;
  }

  .player__cover {
    margin-left: 0;
    width: 112px;
    height: 112px;
    justify-self: start;
    align-self: center;
  }
}

@media screen and (max-width: 640px) {
  .player__wrapper {
    grid-template-rows: 32px auto;
  ;
  }

  .player__wrapper_hidden {
    transform: translateY(114px);
  }
}

@media screen and (max-width: 480px) {
  .player {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 505px;
  }

  .player__mobile-blur {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .player__cover {
    width: 100%;
    max-width: 240px;
    height: 240px;
    justify-self: center;
  }

  .player__hide-switcher {
    width: 16px;
    height: 16px;
  }

  .player__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 74px auto 40px;
    grid-template-rows: 32px 282px 51px auto;
    grid-template-areas:
    'player-controls player-controls player-controls show-hide-button'
    '. album-cover album-cover .'
    '. movie-button info-button .'
    '. player-info player-info .'
  ;
    justify-items: center;
    align-items: center;
  }

  .player__wrapper_hidden {
    transform: translateY(440px);
  }
}
