.play-button {
  border: 0;
  outline: 0;
  width: 18px;
  height: 15px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: play-button;
}

.play-button_play-mode {
  background-image: url('../../../images/player/play-button.svg');
}

.play-button_pause-mode {
  background-image: url('../../../images/player/pause-button.svg');
}

.play-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .play-button {
    width: 16px;
    height: 13px;
  }
}
